header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem !important;
}


header ul li a {
  font-size: 15px !important;
}

header form {
  border: none;
  padding: 8px 10px;
  background-color: #f6f6f6 !important;
  border-radius: 0.25rem;
}

header form input {
  border: none;
  color: #9692B0 !important;
  display: block;
  font-size: 16px !important;
  font-weight: 500 !important;
  background-color: transparent !important;
  font-family: 'Poppins', sans-serif !important;
  //padding: 9px 4px 9px 40px;
  //background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
header form input [placeholder] {
  color: #9692B0!important;
}

header form input span {
  color: #9692B0;
  background-color: transparent !important;
  font-size: 16px;
}
header form span {
  color: #9692B0;
  font-size: 19px;
}
header form input span:focus {
  border: 1px solid #f6f6f6 !important;
  background-color: transparent !important;
}
header ul li a{
  color: #5C596D !important;
}