.category_card {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box!important;
  .category_name {
    margin: 1rem;
    color: #5C596D;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
  }
}