.wrapper_category {
  padding: 32px 0;
  .section_name {

  }
  .category_bottom {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(100px,235px));
    grid-gap: 2.1rem;
    justify-content: center;
  }
}