.top_card {
 /*width: 300px!important;*/
 /*height: 448px!important;*/
 background: #FFFFFF;
 box-shadow: 0 0 75px rgba(0, 0, 0, 0.08) !important;
 border-radius: 8px;
 border: none;
 padding: 1.25rem!important;
}
.top_card .card-body p {
 margin-bottom: 2px;
}
.top_card .card-title {
 margin: 16px 0;
 font-size: 1rem;
 font-weight: 400;
 color: #5C596D;
}

.top_card .card-body .card-text:nth-child(1) {
 color: #5C596D!important;
 font-size: 16px !important;
 font-weight: 400!important;
 margin-bottom: 8px;
}
.top_card .card-text:nth-child(2) {
 font-size: 20px !important;
 color: #1D1A2F !important;
 font-weight: 600;
 margin-bottom: 8px;
}
.top_card .card_btn {
 padding: 8px 16px!important;
}
.top_card .card_btn span {
 font-size: 14px;
}
.top_card .card_btn svg {
 transition:transform 0.3s ease ;
}
.top_card .card_btn:hover svg {
 transform: rotate(20deg)
}
.top_card .stars {
 margin: 5px 0;
}
.stars .star {
 margin: 0 3px 0 0;
 cursor: pointer;
}
.stars .star svg {
 color: #E0DEEF;
 font-size: 23px;
}
.stars .star:focus svg {
 color: #1B5BF7 !important;
 font-size: 23px;
}
