.wrapper_category {
  padding: 32px 0;
  .category {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 300px));
    grid-gap: 2.3rem;
    justify-content: center;
    //display: flex !important;
    //justify-content: space-between;

    //flex-wrap: wrap;
  }
}