.main_nav_bar {
 margin: 0 auto;
 background-color: #F8F8F8;
}
.nav_bar {
 max-width: 1440px;
 padding: 0 72px!important;
}

.nav_bar nav a {
 font-size: 15px !important;
 text-decoration: none;
 font-family: 'Poppins', sans-serif !important;
 font-weight: 400 !important;
 padding: 10px 3px;
}
