.app_mobile_wrap {
 background-color: #E0E8FF;
}
.app_mobile {
 /*padding: 2rem 0;*/
 /*min-height: 436px;*/
 display: flex!important;
 align-items: center;
 overflow: hidden;
 justify-content: space-between;
 /*margin: auto auto;*/
}
.app_mobile .left_wrap {

}
.app_mobile .left_wrap .top_text {
 display: flex;
 align-items: center;
 justify-content: start;
}
.app_mobile .left_wrap .top_text span:nth-child(2) {
 /*margin: auto 0;*/
 /*padding: 64px 0;*/
 display: block;
 width: 2px;
 height: 15px;
 background-color: #1B5BF7;
 margin: 0 5px;
}
.app_mobile .left_wrap  .center_text {
 color: #1D1A2F;
 font-size: 40px;
 font-weight: 700;
 font-style: normal;
}
.app_mobile .center_wrap {
 /*position: relative;*/
 /*padding: 8rem 5rem;*/
 background-image:url("../../Assets/mobile_app_svg/screen.svg");
 /*background-position: 30% 10%;*/
 filter: drop-shadow(12.7912px 6.39559px 47.9669px rgba(0, 0, 0, 0.15));
 background-position: center;
 background-size:  cover;
 background-repeat: no-repeat;
}
.app_mobile .center_wrap .center_qr {
 padding: 7rem 5rem 6rem 4.8rem;
 /*margin-top: 10px;*/
 /*margin: 0 auto;*/
 /*overflow: hidden;*/
 text-align: center;
 /*position: absolute;*/
 /*top: 35%;*/
 /*left: 22%;*/
 /*right: 20%;*/
}
.app_mobile .right_wrap {

}
.app_mobile .right_wrap p {
 color: #5C596D;
 font-size: 20px;
 margin: 0;
 font-weight: 500;
}
.app_mobile .right_wrap p span {
 color: #5C596D;
 /*font-weight: 500;*/
}