.wrapper_top_bar {
 border-bottom:2px solid #F4F7FF;
}
.wrapper_top_bar .top_bar {
 padding: 0 58px!important;
 max-width: 1440px;
 margin: 0 auto;
}
.top_bar ul li {
}
.top_bar ul li a {
 color: #5C596D;
 font-size: 14px;
 font-weight: 400;
}
.top_bar ul li a span {
 font-size: 18px;
 margin-right: 2px;
}
.top_bar ul li button {
 border: none;
}
.top_bar ul li button span:nth-child(1) svg {
 font-size: 20px!important;
 border-radius: 50% !important;
}
.top_bar ul li button span:nth-child(2) {
 font-size: 14px;
}