.banner {
 max-width: 1440px;
 margin: 0 auto;
 padding: 32px 4rem;
}
.carousel-indicators [data-bs-target] {
 height: 10px !important;
 width: 10px!important;
 background-color: #ffffff !important;
 opacity: 1;
 border: none;
}
.carousel-indicators .active {
 background-color: #9692B0 !important;
 opacity: 1!important;
}
.carousel-inner {
 overflow: hidden !important;
 border-radius: 8px!important;
}