.wrapper_brand {
  padding: 32px 0;

  .brands {
    padding: 32px 0 0 0;

    .brand_name {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 156px));
      justify-content: center;
      grid-gap: 0.57rem;

      .brand_name_item {
        p {
          text-align: center;
          background-color: #f6f6f6;
          padding: 8px 35px;
          color: #5C596D;
          margin: 0;
          border-radius: 4px;
          font-size: 15px;
        }
      }
    }
  }

  .brands_logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 206px));
    justify-content: center;
    //flex-wrap: wrap;
    grid-gap: 0.95rem;
    margin: 1.5rem 0;

    .brand_logo_item {
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #EAE9EF;
      border-radius: 4px;
      text-align: center;
    }
  }
}