@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif !important;
 background-color: #ffffff;
}