.wrapper_footer {
 width: 100%;
 max-height: 492px;
 padding: 32px 0;
}
.wrapper_footer ul {
 list-style: none;
 padding: 0;
}
.wrapper_footer ul li a {
 color: #5C596D;
 text-decoration: none;
}
.wrapper_footer .col_name {
 color: #1D1A2F;
 font-size: 20px;
 font-weight: 500;
}
.wrapper_footer .row_top {
 margin: 64px 0;
}
.wrapper_footer .row_center {
 margin: 64px 0;
}
.wrapper_footer .row_bottom {
 margin: 32px 0;
}
.wrapper_footer .row_bottom p {
 margin: 0;
 font-size: 15px;
 font-weight: 500;
 color: #000000;
}
.wrapper_footer .row_bottom p span {
 color: #000000;
 font-size: 15px;
 font-weight: 500;
}