.wrapper_product {
  padding: 32px 0;
  .product {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(100px,300px));
    grid-gap: 2.33rem;
    justify-content: center;
    //justify-content: center;
  }
}